<ol>
  <dt> {{sport.title}}  </dt>
{{#events}}
  <li> <a href="{{self}}">{{title}}</a> ({{total_outcomes}} outcomes{{#if score}}, score: {{score}}{{/if}})</li>
{{/events}}
{{^events}}
  <li>No events</li>
{{/events}}
</ol>
