<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet victor</title>
  </head>
  <body>
    <p>
      {{#if i18}}
        {{#i18}}
            <a href="{{link}}">{{name}}</a>
        {{/i18}}
      {{/if}}
    </p>
    {{#if links.self }} 
      <a href={{links.self}}>Refresh</a>
    {{/if}}
    {{#if links.parent }} 
      <a href={{links.parent}}>Up</a>
    {{/if}}
    {{{body}}}
  </body>
</html>